* {
  margin: 0;
  padding: 0;
}

.custom-navbar-bg {
  background-color: #FEA0C4;
}

.CarritoC {
  height: 3rem;
  margin-right: 1rem;
}

.logos {
  height: 200px;
}

span {
  margin-right: 20px;
}

.itemCount span {
  color: black;
  padding: 1rem;
}